[Unit]
Description=Docker Network OVN plugin socket
PartOf=docker-network-ovn.service

[Socket]
ListenStream=/run/docker/plugins/ovn.sock
SocketMode=0660

[Install]
WantedBy=sockets.target
