[Unit]
Description=Docker Network OVN plugin
Before=docker.service
After=network.target docker-network-ovn.socket
Requires=docker-network-ovn.socket docker.service

[Service]
Type=simple
ExecStart=/usr/local/bin/docker-network-ovn
EnvironmentFile=/etc/default/docker-network-ovn
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target