[Unit]
Description=Docker Network OVN plugin
Before=docker.service
After=network.target
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker-network-ovn
EnvironmentFile=/etc/default/docker-network-ovn
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
